<main>
    <div class="nav_bar">
        <a class="current_page" href="/user">Home</a>
        {{!-- <a class="page" href="search.html">Search</a>
        <a class="page" href="tags.html">Search By Tag</a> --}}
    </div>

    <div class="tag-search-container">
        <label for="tagInput">Search Tags:</label>
        <input type="text" id="tagInput" placeholder="Type to search tags..." />
        <ul id="tagSuggestions" class="suggestions-list"></ul>
    </div>

</main>