<main>
    <div class="container">
        <div class="tag_display">
            <div class="tag_name" id="tag_name">
                {{tag.TagName}}
            </div>
        </div>
        <div class="relative_items">
            <h2>Relative Items</h2>
            <ol class="relative_items_list" id="relative_items_list">
                <!-- Reviews go here -->
            </ol>
        </div>
    </div>

</main>