<main>
    <div class="tag_search">
        <h2>Search By Tag</h2>
        <p class="no_tags" id="no_tags" hidden>
            We're sorry, but there are no tags yet.
        </p>
        <div class="tag_button_group">
            <!--put tags as buttons here-->
            <ul class="tags_list" id="tags_list"></ul>
        </div>
    </div>

</main>